/****title****/
#title{
    background-color:#59CE8F;
}
body{
    font-family:'Montserrat';
}
.container-fluid{
    padding:3% 15% 7%;
}
/***nav****/
.navbar-brand{
    color:white;
    font-size: 2rem;
    font-family:'ubuntu';
    font-weight: bold;  
}
.navbar{
    padding:4.5rem 0;
}
.h01{
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
    line-height:1.5;
    font-weight:900;
    color:white;
}
.nav-item{
    padding:0px 18px;
    }
.nav-link{
    font-size: 1.2rem;
    font-family:'Montserrat', sans-serif; 
}
.form-inline{
    padding: 0px 18px;
    font-size: 1.2rem;
    font-family:'Montserrat', sans-serif;
}
/****nav-dropdown*****/
.drop-down2
{
	position:relative;
}
.drop-down2 .dropdown-toggle{
	color:#000 !important;
	padding:.25rem  !important;
}
.drop-down2 .sub-menu2
{
	position:absolute;
	top:0;
	left:100%;
}
	@media screen and (max-width:991px)
	{
	.drop-down2 .sub-menu2
	{
	position:static;
	}
}
.login-button{
    margin:5% 3% 5% 0%;
}
.img-01{   
    width: 100%;
}
/*****login form****/
.login-form-container{
    position: fixed;
    top:-105%; left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}
.login-form-container.active{
    top:0;
}
.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}
.login-form-container form{
    text-align: center;
    margin:2rem;
    padding:2rem;
    width: 30rem;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;  
    background:#59CE8F ;
}
.login-form-container form h2{
    width: 25rem;
    font-family: sans-serif;
    text-align: center;
    color: block;
    font-size: 2rem;
    margin: 2px;
    padding: 8px;
    font-weight: bold;
}
.login-form-container form .btnn{
    width: 25rem;
    height: 40px;
    background-color: #5A8F7B;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
 form .btnn a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
 form .btnn:hover{
    color: #355764;
    background-color:#277BC0 ;
}
.login-form-container form .input{
    width: 25rem;   
    background: transparent;
    border-bottom: 1px solid #355764;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.login-form-container form .input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}
form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
form .link a{
    text-decoration: none;
    color: #355764;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color:#5A8F7B;
}
.icons i{
    color: #5A8F7B;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons i:hover{
    color: #355764;
}
/*****vehicles*******/
#vehicles{
    padding: 3% 15% 7%;   
    text-align: center;
    background-color: #fff;
}
.img-02{
    width:50%;
}
#vehicles p{
    font-size: 1.2rem;
    font-family:'Montserrat', sans-serif;
    color: #000;    
}
.heading{
    font-family:'montserrat',sans-serif ;
    font-weight: 400;
    font-size: 3rem;
    color:#277BC0;
}
.table{
    margin:5% 0% 0% 0%;
}
/**** services***/
#services{ 
    padding: 3% 15% 7%;   
    text-align: center;
    background:#59CE8F ;
}
.service-col{
    padding: 3% 2%;
}
#services i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background:#5A8F7B;
    color:#FFEA11;
}
#services .card:hover{
    background:#355764;
    color: #fff;
}
#services p{
    font-size: 1.2rem;
    font-family:'Montserrat', sans-serif;
}   
#services h3{
    font-size: 2.2rem;
    font-family:'Montserrat', sans-serif;
}
/*********buy*************/
#buy{
    background-color:#fff;
    text-align: center;
    padding:3% 15%;

}
#buy h3{
    font-family: 'montserrat',sans-serif;
    font-weight: 700;
    color:#5A8F7B;
    line-height: 1.5;
    padding:3%;
    font-size: 3rem;
}
.buy-btn{
    margin:3% 3% 3% 0%;
}
#buy span,i{
    color:#fff;
}
/*****contact******/
#contact {
    background-color:#fff;
    text-align: center;
    padding:3% 15%;
    background-color: #59CE8F;
}
.contact .map{
    width: 100%;
    height:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:2px solid #355764;
    border-radius: .5rem;
}
.contact form{
    padding:2rem;
    height:40rem;
    box-shadow: var(--box-shadow);
    border:2px solid #355764;
    text-align: center;
    border-radius: .5rem;
 }
.contact .row form h2{
    font-size: 2rem;
    color:#277BC0;
    padding-bottom: 1rem;
    font-family: 'montserrat',sans-serif;
}
.contact .row form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1rem;
    font-size: 1.2rem;
    text-transform: none;
    border:1px solid #808080;
    margin:.5rem 0;
}
.contact form textarea{
    height:10rem;
    resize: none;
}
.contact form ::placeholder{
    color:#808080;
}
/**fotter*****/
#footer{
    background-color: #fff;
    padding: 4% 15%;
    text-align: center;
}
#footer a{
    text-decoration: none;
    color:#5A8F7B;   
}
#footer i{
    color:#5A8F7B;
    font-size: 2.5rem;
    padding-left: 14px; 
    transition: 0.3s ease;
    margin-top: 1rem;
}
#footer i:hover{
    color:#355764;
}
/****customer details*****/
#customer{
    background-color:#59ce8f ;
    padding:5% 15%;
}
#customer h2{
    text-align: center;
    font-family:'montserrat',sans-serif ;
    font-weight:700;
    font-size: 2.5rem;
    color:#355764;
}
#customer p{
    text-align: center;
    color:#d00f0f;
    display: none;
}
/******our services*****/
#ourservices{
    background-color: #59ce8f;
    padding:5% 15%;
    text-align: justify;
}
#ourservices h2{
    text-align: center;
    font-family:'montserrat',sans-serif ;
    font-weight:700;
    font-size: 2.5rem;
    color:#355764;
    margin: 5% 0%;
}
#ourservices .head{
    text-align: center;
    font-family:'montserrat',sans-serif ;
    font-weight:600;
    font-size: 2rem;
    color:#277BC0;
    margin: 5% 0%;
}
#ourservices p{ 
    font-family:'montserrat',sans-serif ;
    font-size: 1.2rem;
    color:#000;
    border:2px solid #355764;
    border-radius: .5rem;
    padding: 5%;
    background-color: #B1D7B4;
    line-height: 2;
}
@media (max-width:1028px){
    #title{
        text-align:center;
    } 
}



    
    




    


    












    

    
    












    

    


